---
layout: ""
page_title: "Provider: env0"
description: |-
  The env0 provider allows you to interact with the env0 API.
---

# env0 Provider

The [env0](https://www.env0.com) provider is used to interact with the resources supported by env0. The provider needs to be configured with proper credentials before it can be used. Please refer tho [this guide](https://developer.env0.com/docs/api/YXBpOjY4Njc2-env0-api#creating-an-api-key) on how to generate those credentials.

Use the navigation to the left to read about the available resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
