name: CI

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-20.04

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16 # please change also in `release.yml`,`update-generated-docs.yml` and `go.mod`
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Go fmt
        run: |
            ! go fmt ./... | read
      - name: Go Test
        run: go test -v ./...
